#heading3
{    
    color: yellow;
    background-color: darkblue;
}
.group1
{
    color: red;
}
.group2
{
    color:aqua;
}
#heading5
{
    color:red;
    background-color: yellow;
    width:250px;
    border: 5px solid black;
}